/*********************************
** SPRITE GENERATES
** FROM TEMPLATE AUTOMATICALLY
** DON'T CHANGE _SVG-SPRITE.SCSS
*********************************/

.icon--approve {
  font-size:(1024/10)*1rem;
  width:(1384/1024)*1em;
}
.icon--arrow {
  font-size:(1024/10)*1rem;
  width:(1328/1024)*1em;
}
